.class1{
    border: 2px solid #dedede;
    background-color: #e0e5f0;
    
      border: 5px solid #1C6EA4;
      border-radius: 0px 30px 30px 31px;
      

     
      box-shadow: 0 0 6px #B2B2B2;
      display: inline-block;
      position: relative;
      vertical-align: top;
  
    
  }
  
